
/*=========================================================================
  Layout A
 ========================================================================== */

.layout-a {

}

/* Slot 1
 -------------------------------------------------------------------------- */

.layout-a_slot-1 {

}


/*=========================================================================
  Region 1
 ========================================================================== */

.layout-a_region-1 {

}

/* Slot 2
 -------------------------------------------------------------------------- */

.layout-a_slot-2 {
	float: left;
	margin-right: 300px;
}

/* Slot 3
 -------------------------------------------------------------------------- */

.layout-a_slot-3 {
	float: right;
	width: 300px;
}